/*** RESETS ***/

html {
   box-sizing: border-box;
   color: #444444;
   font: 12pt 'Open Sans';
   font-weight: 300;
}

*, *::before, *::after {
   box-sizing: inherit;
   color: inherit;
}


/*** DEFAULTS ***/

a {
	text-decoration: none;
}


img {
	height: 6.25rem;
	width: 6.25rem;
	float: left;
}


h2 {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 32pt;
	margin: 0.3rem;
}

button {
	border: none;
}

/*** LAYOUT ***/

.panel > div {
	width: 60rem;
	margin: 0 auto;
	min-height: 450px;
	position: relative;
}

.hero {	
	background: radial-gradient(rgba(5, 100, 150,  .5), rgba(5, 100, 150, 1)), url("bg.jpg");
	background-size: cover;
}

.primary-header {
	height: 8.1rem;
	position: relative;
	background-color: transparent;
}

.primary-header .logo {
	font-size: 36pt;
	color: #FFFFFF;
	font-family: 'Lobster';
	display: block;
}

.search-bar {
	position: absolute;
	top: 0.31rem;
	right: 0.31rem;	
}

.search-bar > input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.search-bar button {
	border: none;
	background-color: #EA501A;
	color: #FFFFFF;
	border-radius: 0.18em;
	font-size: 11pt;
	font-weight: normal;
}

.primary-header nav {
	text-align: center;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-size: 10pt;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.primary-header nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0.62rem;
	text-decoration: none;
	display: inline-block;
}

.welcome-header {
	position: absolute;
	bottom: 1.8rem;
	right: 0;
	left: 0;
	text-align: center;
}

.welcome-header p {
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
}

.welcome-header h2 span {
	font-weight: 300;
}

/* primary content section*/

.primary-content {
	background-color: #D7E1E7;
	height: 50.6rem;
}

.breakouts {
	text-align: center;
	background-color: transparent;
}

.breakout {
	margin: 5px 5px 0 5px;
	display: inline-block;
	min-height: 210px;
	width: 300px;
	transform: translateY(-20px);
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0 0 12px -5px #000000;	
}

.breakout button {
	background-color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #000000;
	border-radius: 5px;
}

.breakout.help {
	border-top: 4px solid #EB6B55;
}

.breakout.food {
	border-top: 4px solid #A3CF47;
}

.breakout.sell {
	border-top: 4px solid #6FBBE3;
}

.breakout.help button {
	color: #EB6B55;
	border: 2px solid #EB6B55;
}

.breakout.food button {
	color: #A3CF47;
	border: 2px solid #A3CF47;
}

.breakout.sell button {
	color: #6FBBE3;
	border: 2px solid #6FBBE3;
}

.secondary {
	height: 35rem;
	background-color: #D6E1E7;
}

.content-box {
	background-color: #FFFFFF;
	box-shadow: 0 0 12px -5px #000000
}

.directory {
	background-color: #FFFFFF;
	padding: 0.9rem;
	width: calc(40% - 10px);
	min-height: 350px;
	float: left;
}

.directory .media-object {
	background-color: #E8F3F9;
	overflow: hidden;
	width: 355px;
	margin-bottom: 12px;
}

.pup-description {
	margin-left: 110px;
}

.pup-description h3 {
	font-weight: normal;
	color: #4591D2;
	margin: 0;
	padding: 0;
}
.pup-description p {
	font-weight: 400;
}

main {
	margin-left: 370px;
	padding: .62rem;
}

.biobox {
	background-color: #E3EFD6;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	width: 170px;
}

.biobox h3 {
	font-weight: 300;
	color: #37680E;
	margin: 0;
	background-color: #87D053;
}

.biobox p {
	padding: 0.18rem;
	font-weight: normal;
	margin: 0;
	color: #496A1E;
}

.biobox img {
	display: block;
	width: 170px;	
	height: 160px;
}
